.nav {
    grid-area: n;
    background-color: burlywood;
  
  }
  .dialogs_item{
display: block;
    color: white;
  }
  .item.active{
    color: rgb(74, 74, 74)
  }


a {
  color: black;
  text-decoration: none;
  transition: 0.1s;
}
a:hover {
  color: gold

}
a:active	{
  color: rgb(255, 255, 255)
}
